<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome | Happy Visitor</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="/css/formstyle.css" rel="stylesheet" type="text/css">
        <style>
            html{
            background:url('/images/white-background-with-blue-tech-hexagon_1017-19366.jpg') no-repeat;
            background-size: cover;
            height:100%;}

            body
            {
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            }
        </style>

    </head>

    <body> 
            <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/">HOME</a>
                  </nav>